build*/
*.mid
*.midi
*.wav
*.json
/__pycache__
*.pyc
*.csv
onnx-models/
demucs-onnx/
.DS_Store
**/.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/*.xcworkspace/contents.xcworkspacedata
